@use './variables' as *;

.chef-section {
  padding: 6rem 0;
  background-color: $bg-color;
  border-top: 1px solid $text-black;
  border-bottom: 1px solid $text-black;

  .chef-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;

    @include mobile {
      grid-template-columns: 1fr;
      text-align: center;
      gap: 2rem;
    }
  }

  .chef-image-wrapper {
    position: relative;
    padding: 10px;

    .chef-img {
      height: 500px;
      width: 100%;
      background-size: cover;
      background-position: center;
      border-radius: 2px;
      position: relative;
      z-index: 2;
      border: 2px solid $text-black;
    }

    .chef-frame {
      position: absolute;
      top: 30px;
      left: 30px;
      width: 100%;
      height: 100%;
      border: 2px solid $text-black;
      z-index: 1;
      opacity: 0.4;
    }
  }

  .chef-info {
    color: $text-black;

    .subtitle {
      color: $accent-green;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 0.9rem;
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    h2 {
      font-family: $font-display;
      font-size: 3.2rem;
      color: $text-black;
      margin-bottom: 1rem;
      line-height: 1;
    }

    .divider-small {
      width: 60px;
      height: 2px;
      background-color: $text-black;
      margin-bottom: 2rem;

      @include mobile {
        margin: 0 auto 2rem auto;
      }
    }

    .intro {
      font-family: $font-display;
      font-size: 1.4rem;
      text-transform: uppercase;
      color: $text-black;
      margin-bottom: 1.5rem;
      border-left: 3px solid $accent-green;
      padding-left: 20px;

      @include mobile {
        border: none;
        padding: 0;
      }
    }

    .body-text {
      font-size: 1rem;
      color: $text-black;
      line-height: 1.7;
      margin-bottom: 2rem;
    }

    .signature {
      height: 60px;
      opacity: 0.6;
    }
  }
}
