@use './variables' as *;

.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  position: relative;
  overflow: hidden;
  background-image: url('/images/hero-tortilla.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .hero-top-info {
    display: flex;
    gap: 2rem;
    font-family: $font-body;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    border-bottom: 1px solid $text-black;
    padding-bottom: 10px;

    @include mobile {
      flex-direction: column;
      gap: 0.5rem;
      border: none;
    }
  }

  h1 {
    font-family: $font-display;
    font-size: 8rem;
    line-height: 0.9;
    text-transform: uppercase;
    color: $text-black;
    margin: 0;
    position: relative;
    z-index: 2;

    @include mobile {
      font-size: 4rem;
    }
  }

  .fun-text-bg {
    font-family: $font-fun;
    color: $accent-green;
    font-size: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    z-index: 1;
    white-space: nowrap;
    opacity: 0.8;
    width: 100%;

    @include mobile {
      font-size: 3rem;
    }
  }

  .hero-icons {
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    z-index: 2;

    .icon-circle {
      width: 80px;
      height: 80px;
      border: 2px solid $text-black;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      transition: all 0.3s;

      &:hover {
        background: $text-black;
        color: $bg-color;
      }
    }

    .x-separator {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
