@use './variables' as *;

.hero {
  display: block;
  text-align: center;
  padding-top: 80px;
  background-color: $bg-color;

  .hero-video {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
  }

  .hero-top-info {
    display: flex;
    gap: 2rem;
    font-family: $font-body;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin: 3rem auto 2rem;
    justify-content: center;
    border-bottom: 1px solid $text-black;
    padding-bottom: 10px;

    @include mobile {
      flex-direction: column;
      gap: 0.5rem;
      border: none;
    }
  }

  h1 {
    font-family: $font-display;
    font-size: 8rem;
    line-height: 0.9;
    text-transform: uppercase;
    color: $text-black;
    margin: 0;
    margin: 0 auto 1.5rem;

    @include mobile {
      font-size: 4rem;
    }
  }

  .fun-text-bg {
    font-family: $font-fun;
    color: $accent-green;
    font-size: 6rem;
    position: static;
    transform: rotate(-5deg);
    white-space: nowrap;
    opacity: 0.8;
    width: 100%;
    margin: 0 auto 2rem;

    @include mobile {
      font-size: 3rem;
    }
  }

  .hero-icons {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    .icon-circle {
      width: 80px;
      height: 80px;
      border: 2px solid $text-black;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      transition: all 0.3s;

      &:hover {
        background: $text-black;
        color: $bg-color;
      }
    }

    .x-separator {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
